html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:80px;
  padding: 40px;
}

.card {
  height: 440px;
  width: 380px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px; 
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.top button {
  height: 40px;
  width: 90px;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer; 
}

.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1; 
  padding-top: 20px;
}

.center h1 {
  font-size: 24px;
  margin: 0;
}

.center h2 {
  font-size: 16px;
  color: gray;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.center div {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.mid h3 {
  background-color: rgb(235, 235, 235); 
  border-radius: 5px;
  font-weight: 500;
  width: fit-content;
  padding: 5px 12px; 
  font-size: 14px;
}

.bottom {
  border-top: 1px solid rgb(230, 230, 230); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-top: 20px;
}

.bottom div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#rate {
  font-weight: bold;
  font-size: 18px;
}

#city {
  color: gray;
  font-weight: normal;
}

.bottom button {
  height: 45px;
  width: 140px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}